<%- include('../partials/head.ejs') %>

<div class="review-page">
    <div class="review-game-info">
        <img src="<%= game.background_image ? game.background_image : '/images/placeholder.jpg' %>" alt="<%= game.name %>">
        <h1>
            <% if (editing) { %>
                Edit Review for
            <% } else { %>
                Reviewing
            <% } %>
            <span><%= game.name %></span>
        </h1>
    </div>

    <div class="form-container">
        <form class="auth-form" action="<%= BASE_PATH %>/review" method="POST">
            <% if (errorMessage) { %>
                <div class="user-message user-message--error"><%= errorMessage %></div>
            <% } %>

            <% if (editing) { %>
                <input type="hidden" name="reviewId" value="<%= review.id %>">
                <input type="hidden" name="gameId" value="<%= game.game_id %>">
            <% } else { %>
                <input type="hidden" name="apiGameId" value="<%= game.id %>">
                <input type="hidden" name="name" value="<%= game.name %>">
                <input type="hidden" name="background_image" value="<%= game.background_image %>">
                <input type="hidden" name="released" value="<%= game.released %>">
            <% } %>
            
            <div class="form-control">
                <label for="rating">Your Rating (out of 5)</label>
                <select name="rating" id="rating" required>
                    <% for(let i = 1; i <= 5; i++) { %>
                        <option value="<%= i %>" <%= (review.rating == i) ? 'selected' : '' %> >
                            <%= i %> Star<%= i > 1 ? 's' : '' %>
                        </option>
                    <% } %>
                </select>
            </div>

            <div class="form-control">
                <label for="reviewText">Your Review (optional)</label>
                <textarea name="reviewText" id="reviewText" rows="8" placeholder="What did you think of the game?"><%= review.review_text %></textarea>
            </div>

            <button class="btn" type="submit">
                <% if (editing) { %>
                    Update Review
                <% } else { %>
                    Submit Review
                <% } %>
            </button>
        </form>
    </div>
</div>

<%- include('../partials/footer.ejs') %>